@model GuraruRepository.Models.MachineOperator

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>MachineOperator</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OperatorName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OperatorName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsDeleted)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsDeleted)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AdhaarNo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AdhaarNo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LocationDetails)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LocationDetails)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.OperatorId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
